# Pandas Kaggle Exercise - Summary functions and maps

In [1]:
import pandas as pd

In [2]:
# loading in a dataset from local machine. employee_attrition.csv used 
df = pd.read_csv(r"E:\IOD_data\Employee-attrition.csv")

# showing that the dataset has loaded correctly
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

## df.describe()

Generate high level statistics for a given column

In [4]:
# trying this out on column job_title
df.job_title.describe()

count           49653
unique             47
top       Meat Cutter
freq             9984
Name: job_title, dtype: object

In [5]:
#trying this out on birth date
df.birthdate_key.describe()

count        49653
unique        5342
top       8/4/1954
freq            40
Name: birthdate_key, dtype: object

## df.column.value_counts()

Get the unique values of a column or for a dataset

In [6]:
# trying this out on column job_title
df.job_title.value_counts()

Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Meats Manager                       285
Bakery Manager                      285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Accounts Receiveable Clerk           30
Labor Relations Analyst              30
Trainer                              26
Accounts Payable Clerk               25
Investment Analyst                   20
Compensation Analyst                 20
Systems Analyst                      20
Auditor                              20
Corporate Lawyer                     17
Exec Assistant, Finance              10
Exec Assistant, Human Resources      10
CEO                                  10
Director, Recruitment                10
Legal Counsel                        10
VP Stores                            10
Exec Assistant, Legal Counsel        10
CHief Information Officer            10
VP Finance                           10
Exec Assistant, VP Stores            10
VP Human Resources                   10
Director, Accounting                  9
Dairy Manager                         9
Director, Employee Records            9
Director, Accounts Payable            9
Director, Accounts Receivable         9
Director, HR Technology               9
Director, Training                    4
Director, Compensation                4
Director, Labor Relations             4
Director, Audit                       4
Director, Investments                 4
Name: job_title, dtype: int64

## Map

Map : take a fucntion and apply it to a set of values to create a new set of values <br>
There are multiple ways to map

#### Using map and lambda functions

In [8]:
# remean mean of age to 0 
mean_age = df.age.mean()
df.age.map(lambda p:p - mean_age)

0         9.922965
1        10.922965
2        11.922965
3        12.922965
4        13.922965
           ...
49648   -21.077035
49649   -23.077035
49650   -21.077035
49651   -23.077035
49652   -22.077035
Name: age, Length: 49653, dtype: float64

#### Using apply()

Same functions as above however capable to transform the whole pandas dataframe <br>
This can be done either by row, by calling axis = 'columns' or by columns by calling axis = 'rows'

In [10]:
# defining the function to pass into apply
def remean_age(row):
    # here the function takes in a row from the dataframe. From the row only the age fields are selected
    row.age = row.age - mean_age
    return row

df.apply(remean_age, axis = 'columns')

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,9.922965,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,10.922965,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,11.922965,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,12.922965,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,13.922965,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,-21.077035,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,-23.077035,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,-21.077035,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,-23.077035,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,-22.077035,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

#### Using Panda's native functionality

Some mapping operations are built into's a panda's dataframe native functionality <br>
For example we came subtract all the values in a column with another value. Using the age remean example from above:

In [11]:
df.age - mean_age

0         9.922965
1        10.922965
2        11.922965
3        12.922965
4        13.922965
           ...
49648   -21.077035
49649   -23.077035
49650   -21.077035
49651   -23.077035
49652   -22.077035
Name: age, Length: 49653, dtype: float64

When doing operations between two or more sets of values, length of the sets need to be same to use Panda's native functionality

In [13]:
# concatenating department_name and job_title columns
df.department_name + " - " + df.job_title

0                   Executive - CEO
1                   Executive - CEO
2                   Executive - CEO
3                   Executive - CEO
4                   Executive - CEO
                    ...
49648          Dairy - Dairy Person
49649    Customer Service - Cashier
49650    Customer Service - Cashier
49651    Customer Service - Cashier
49652    Customer Service - Cashier
Length: 49653, dtype: object

## End of Tutorial

## Kaggle exercises

Exercises found at the end of the kaggle tutorial

In [15]:
# loading in a dataset from local machine. employee_attrition.csv used 
reviews = pd.read_csv(r"E:\IOD_data\winemag-data-130k-v2.csv")

# showing that the dataset has loaded correctly
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#### 1. What is the median of the points column in the reviews DataFrame?

In [16]:
reviews.points.median()

88.0

#### 2.What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [151]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

#### 3.  How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country.

In [39]:
reviews.country.value_counts()

US                        27177
France                    11174
Italy                     10005
Spain                      3409
Portugal                   2963
Chile                      2258
Argentina                  1907
Austria                    1635
Australia                  1177
Germany                    1051
South Africa                737
New Zealand                 733
Israel                      259
Greece                      242
Canada                      108
Bulgaria                     68
Romania                      67
Hungary                      61
Uruguay                      61
Croatia                      44
Turkey                       43
Slovenia                     39
Georgia                      37
England                      36
Brazil                       31
Mexico                       31
Moldova                      30
Lebanon                      20
Morocco                      11
Peru                          8
Serbia                        7
Macedonia                     6
Cyprus                        6
Czech Republic                6
Ukraine                       5
Luxembourg                    4
Switzerland                   4
India                         4
Slovakia                      1
Bosnia and Herzegovina        1
Armenia                       1
Name: country, dtype: int64

#### 4. Create variable `centered_price` containing a version of the `price` column with the mean price subtracted.

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [47]:
mean_price = breviews.price.mean()
centered_price = reviews.price.map(lambda i:i- mean_price)

#### 5. I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset

In [102]:
pp_ratio = reviews.price / reviews.points
reviews['PP'] = pp_ratio.tolist()
bargain_wine = reviews[reviews.PP == reviews.PP.max()].title
print(bargain_wine)

15840    Château Pétrus 2014  Pomerol
Name: title, dtype: object

#### 6. There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset.

In [105]:
reviews.description

0        Aromas include tropical fruit, broom, brimston...
1        This is ripe and fruity, a wine that is smooth...
2        Tart and snappy, the flavors of lime flesh and...
3        Pineapple rind, lemon pith and orange blossom ...
4        Much like the regular bottling from 2012, this...
                               ...
65494    Made from young vines from the Vaulorent porti...
65495    This is a big, fat, almost sweet-tasting Caber...
65496    Much improved over the unripe 2005, Fritz's 20...
65497    This wine wears its 15.8% alcohol better than ...
65498    A unique take on Manzanilla Sherry, which is o...
Name: description, Length: 65499, dtype: object

In [107]:
z = reviews.description[0].split()
print(z)

['Aromas', 'include', 'tropical', 'fruit,', 'broom,', 'brimstone', 'and', 'dried', 'herb.', 'The', 'palate', "isn't", 'overly', 'expressive,', 'offering', 'unripened', 'apple,', 'citrus', 'and', 'dried', 'sage', 'alongside', 'brisk', 'acidity.']

In [131]:
trop_count = 0 
f_count = 0
for i in reviews.description:
    new_desc = i.split()
    for x in new_desc:
        if x.lower() == 'tropical':
            trop_count += 1
        elif x.lower() == 'fruity':
            f_count += 1
        else:
            continue
            

print(f"tropical word count : {trop_count}")
print(f"fruity word count : {f_count}")

tropical word count : 1753
fruity word count : 3195

#### 7. We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset.

In [150]:
def ratings(row):
    if row.country == "Canada" or row.points >= 95 :
        row.points = 3
    elif row.points >= 85 and row.points < 95:
        row.points = 2
    else: 
        row.points = 1
        
    return row

reviews_star = reviews.apply(ratings, axis='columns')
star_rating = reviews_star.points
print(star_rating)

0        2
1        2
2        2
3        2
4        2
        ..
65494    2
65495    2
65496    2
65497    2
65498    2
Name: points, Length: 65499, dtype: int64