<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [7]:
# Read CSV
wine = pd.read_csv('E:/IOD_data/winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [8]:
# ANSWER
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [4]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [9]:
wine['red_wine'].describe

<bound method NDFrame.describe of 0       1
1       1
2       1
3       1
4       1
       ..
6492    0
6493    0
6494    0
6495    0
6496    0
Name: red_wine, Length: 6497, dtype: int64>

### 2. Set Target Variable

Create a target variable for wine quality.

In [10]:
# Target Variable
Y = wine['quality']
Y

0       5
1       5
2       5
3       6
4       5
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 6497, dtype: int64

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [11]:
# ANSWER
wine_corr = wine.corr()
wine_corr.iloc[11].sort_values

<bound method Series.sort_values of fixed acidity          -0.076743
volatile acidity       -0.265699
citric acid             0.085532
residual sugar         -0.036980
chlorides              -0.200666
free sulfur dioxide     0.055463
total sulfur dioxide   -0.041385
density                -0.305858
pH                      0.019506
sulphates               0.038485
alcohol                 0.444319
quality                 1.000000
red_wine               -0.119323
Name: quality, dtype: float64>

In [12]:
X = wine[['alcohol','density','volatile acidity']]
X

      alcohol  density  volatile acidity
0         9.4  0.99780              0.70
1         9.8  0.99680              0.88
2         9.8  0.99700              0.76
3         9.8  0.99800              0.28
4         9.4  0.99780              0.70
...       ...      ...               ...
6492     11.2  0.99114              0.21
6493      9.6  0.99490              0.32
6494      9.4  0.99254              0.24
6495     12.8  0.98869              0.29
6496     11.8  0.98941              0.21

[6497 rows x 3 columns]

### 4. Using Linear Regression Create a Model and Test Score

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [18]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [19]:
# Create a model for Linear Regression
lreg = LinearRegression()

# Fit the model with the Training data
lreg.fit(X_train, y_train)

# Calculate the score (R^2 for Regression) for Training Data
training_score = lreg.score(X_train,y_train)

# Calculate the score (R^2 for Regression) for Testing Data
test_score = lreg.score(X_test, y_test)

print(f'training score = {training_score}, test_score = {test_score}')

training score = 0.27078026676393174, test_score = 0.2519667708304062

### BONUS: Cross validation

In [14]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error

In [15]:
X

      alcohol  density  volatile acidity
0         9.4  0.99780              0.70
1         9.8  0.99680              0.88
2         9.8  0.99700              0.76
3         9.8  0.99800              0.28
4         9.4  0.99780              0.70
...       ...      ...               ...
6492     11.2  0.99114              0.21
6493      9.6  0.99490              0.32
6494      9.4  0.99254              0.24
6495     12.8  0.98869              0.29
6496     11.8  0.98941              0.21

[6497 rows x 3 columns]

In [27]:
y_train

1916    5
947     7
877     6
2927    6
6063    5
       ..
3772    5
5191    7
5226    5
5390    5
860     5
Name: quality, Length: 5197, dtype: int64

In [26]:
len(y_pred_train)

5198

In [36]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)):
    
    # Get training and test sets for X and y
    X_train = X.iloc[train]
    X_test = X.iloc[test]
    Y_train = Y.iloc[train]
    Y_test = Y.iloc[test]
    # Fit model with training set
    lreg.fit(X_train, Y_train)
    # Make predictions with training and test set
    y_pred_train = lreg.predict(X_train)
    y_pred_test = lreg.predict(X_test)

    
    # Score R2 and RMSE on training and test sets and store in list
    r2_train = lreg.score(X_train, Y_train)
    r2_test = lreg.score(X_test, Y_test)
    train_mse = mean_squared_error(Y_train, y_pred_train)
    test_mse = mean_squared_error(Y_test, y_pred_test)
    
    train_scores.append(r2_train)
    train_rmse.append(train_mse)
    test_scores.append(r2_test)
    test_rmse.append(test_mse)
    
    
    
# Create a metrics_df dataframe to display r2 and rmse scores

lreg_metrics = pd.DataFrame(columns=['train_scores','test_scores','train_rmse','test_rmse'])
lreg_metrics['train_scores'] = train_scores
lreg_metrics['train_rmse'] = train_scores
lreg_metrics['test_scores'] = train_scores
lreg_metrics['test_rmse'] = train_scores

In [37]:
lreg_metrics

   train_scores  test_scores  train_rmse  test_rmse
0      0.269039     0.269039    0.269039   0.269039
1      0.263076     0.263076    0.263076   0.263076
2      0.263264     0.263264    0.263264   0.263264
3      0.272545     0.272545    0.272545   0.272545
4      0.269239     0.269239    0.269239   0.269239

In [ ]:
# Describe the metrics

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2021 Institute of Data


---



---